.contenedor {
  width: 300px;
  height: 100px;
  background-color: aquamarine;
}

div {
  /*Es para probar especificidad*/
  background-color: blue;
}

span.frase {
  font-style: italic;
}

span.frase::before { /*Agrega texto desde Css al elemento de html*/
  content: "<<";
  font-size: xx-small;
}

span.frase::after { /*Igual que el before*/
  content: ">>";
  font-size: xx-small;
}

.libro p {
  padding: 15px;
  background-color: bisque;
  font-family: Arial, Helvetica, sans-serif;
}

.libro p::first-letter {
  /*cambia el estilo a la primera letra*/
  font-size: xx-large;
}

.libro P::first-line {
  /*cambia el estilo a la primera línea*/
  color: rgb(46, 118, 180);
}

.libro p::selection {
  /*cambia el estilo al momento de seleccionar*/
  background-color: crimson;
  color: orange;
}

.listado li::marker {
  color: red;
}

#first::marker {
  color: blue;
}
